*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #f0f0f0;
    color: #333;
}

.header1{
    text-align: center;
    font-size: 2.5em;
    margin: 20px 0;
    border-bottom: #333 solid 2px;
    padding-bottom: 10px;
}

.header1 button{
    background-color: #dfdbdb;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 10px;
    font-size: 25px;
    cursor: pointer;

}

.header1 button:hover{
    background-color: #b0a8a8;
}

.header1 a{
    text-decoration: none;
    color: #333;
}

.header2 {
  font-size: 25px;
  padding-bottom: 10px;
  border-bottom: 2px solid #333;
}

.header2 ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.header2 a {
  text-decoration: none;
  color: #333;
  margin-left: 30px;
}

.header3 {
  text-align: center;
  padding: 50px 20px;
  font-size: 30px;
  background: #dedede;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin: 40px auto;
}

.product-card {
  background: #fff;
  width: 250px;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.1);
  overflow: hidden;
  text-align: center;
  padding-bottom: 20px;
}

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.product-card h3 {
  font-size: 1.2em;
  margin: 10px 0;
  color: #444;
}

.product-card p {
  font-size: 1em;
  color: #666;
}

.product-card .price {
  font-weight: bold;
  color: #222;
  margin-bottom: 10px;
}

.product-card button {
  background: #7e7e7e;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.product-card button:hover {
  background: #101010;
}

footer {
    background: #807d7d;
    color: #ffffff;
    padding: 30px 0 15px 0;
    text-align: center;
    border-radius: 20px 20px 0 0;
    margin-top: 40px;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.1em;
}

footer img {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    vertical-align: middle;
}

@media (max-width: 768px) {
  .header1, .header2 nav ul {
    flex-direction: column;
    align-items: center;
  }

  .header1 button {
    margin: 5px 0;
  }

  .header2 nav ul {
    gap: 10px;
  }

  .header3 {
    padding: 60px 10px;
  }

  .contact {
    padding: 20px 15px;
  }
}

